<div id="new-post">
  <%= link_to "New Post", new_post_path, :class => "btn btn-success" %>
</div>

<h2><%= current_user.email %>'s Posts</h2>

<% posts.each do |post| %>
  <% if post.user_id == nil %>
    <% autoposts << post %>
  <% end %>
<% end %>

<% autoposts << current_user.posts %>

<div class="row">
  <% autoposts.each do |post| %>
    <div class="col-sm-12 col-md-">
          <p><%= "#{post.title}" %></p>
    </div>
  <% end %>
</div>